@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

button:focus {
    outline: none !important;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 10px 30px 0 rgba(2, 13, 70, 0.1);
    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #3069ca;
    }
}

.slick-dots {
    position: absolute;
    bottom: -24px;
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    right: 0;
}
.slick-dots li button:before {
    color: #f2b64e !important;
}
.slick-dots li.slick-active button:before {
    color: #f2b64e !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.blue .tooltip-inner {
    color: #3069ca;
}
.silver .tooltip-inner {
  color: #a7a9ac;
}
.gold .tooltip-inner {
  color: #f2b64e;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #fff;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #fff;
}
.tooltip .tooltip-inner {
    background: #fff;
}

.pagination {
  .page-item.active {
    z-index: 2;
    background-color: #fff;
  }
  .page-link:hover {
    z-index: 0;
    color: #19356c;
    background-color: #fff;
    border-color: transparent;
  }
  .page-link:focus {
    box-shadow: none;
  }
}
.page-item.disabled .page-link, .page-link {
    color: #19356c;
    background-color: #fff;
    border-color: transparent;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #19356c;
    border-color: #19356c;
    border-radius: 0.25rem;
}

.profile-container {
  @media (min-width: 768px) and (max-width: 992px) {
    max-width: 100%;
  }
}

.menu-container {
  @media screen and (max-width: 1200px) {
    max-width: 100%;
  }
}

.content-page {
  background-color: #f2f5f6;
  margin-top: -4.7rem;
  @media screen and (max-width: 1200px) {
    margin-top: -3.9rem;
  }
  padding-bottom: 3rem;
  z-index: -1;
  padding-top: 5rem;
  border-radius: 2rem 2rem 0rem 0rem;
  .card-content-page {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: #19356c;
    h5 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: larger;
    }
    h5.business {
      font-weight: 400;
      text-transform: none;
    }
    p {
      font-size: medium;
      svg {
        color: #f2b64e;
      }
    }
    p.blue {
      svg {
        color: #19356c;
      }
    }
    .members {
      @media screen and (max-width: 576px) {
        text-align: center;
      }
      h5 {
        font-size: medium;
      }
      .img-members {
        max-width: 100%;
        max-height: 90px;
        padding: 0.5rem;
        @media screen and (max-width: 576px) {
          padding: 0rem 4rem;
          margin-bottom: 1rem;
        }
        @media (min-width: 992px) and (max-width: 1200px) {
          padding: 0rem 0rem;
          margin-bottom: 1rem;
        }
      }
      .btn {
        float: right;
        @media screen and (max-width: 576px) {
          margin-top: 1rem;
          float: none;
        }
        @media (min-width: 992px) and (max-width: 1200px) {
          margin-top: 0.73rem;
        }
      }
    }
    .btn {
      background-color: #f2b64e;
      border-color: #f2b64e;
      font-size: small;
      text-transform: uppercase;
    }
  }
  .members-card {
    background-color: #244e96;
    background-image: url('../community.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    color: #fff;
    background-position: bottom right;
    h5 {
      font-weight: 100;
    }
    h3 {
      font-size: -webkit-xxx-large;
    }
  }
  .animation-card {
    background-color: #244e96;
    background-image: url('../newspaper.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom right;
    color: #fff;
    @media (min-width: 992px) and (max-width: 1200px) {
      height: 8.9rem;
    }
  }
  .card-advantages {
    .advantages {
      .advantage {
        .col {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .progress {
        height: 0.25rem;
        .progress-bar {
          background-color: #3069ca;
        }
      }
    }
    hr {
      margin-top: 0.86rem;
      margin-bottom: 0.86rem;
    }
  }
  .events-list {
    color: #19356c;
    margin-bottom: 2rem;
    h5 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: larger;
    }
    .event-title {
      p {
        font-size: medium;
        font-weight: bold;
        svg {
          float: right;
          color: #f2b64e;
          font-size: x-large;
        }
      }
    }
    .event {
      p {
        font-size: medium;
        .blue {
          color: #3069ca;
        }
        .silver {
          color: #a7a9ac;
        }
        .gold {
          color: #f2b64e;
        }
      }
    }
  }
  .search-bar {
    h5 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: x-large;
      color: #19356c;
    }
    .input-group-text {
        color: #19356c;
        background-color: transparent;
        border: 1px solid transparent;
        font-weight: bold;
        text-transform: uppercase;
        font-size: larger;
    }
    .form-control {
      background-color: transparent;
      border: 1px solid transparent;
      color: #19356c;
      height: calc(2.5em + 0.75rem + 2px);
      text-transform: uppercase;
    }
    .form-control:focus {
      box-shadow: none;
    }
    .custom-select {
      background-color: #fff;
      border: 1px solid #fff;
      color: #19356c;
      height: calc(2.5em + 0.75rem + 2px);
      text-transform: uppercase;
      text-align: center;
      @media screen and (max-width: 576px) {
        margin-bottom: 1rem;
      }
    }
    .custom-select:focus {
      box-shadow: none;
    }
  }
  .member-card {
    @media screen and (max-width: 576px) {
      text-align: center;
    }
    h5 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: medium;
    }
    p {
      font-size: medium;
    }
    .img-members {
      max-width: 100%;
      max-height: 90px;
      padding: 0.5rem;
      @media screen and (max-width: 576px) {
        padding: 0rem 4rem;
        margin-bottom: 1rem;
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        padding: 0rem 0rem;
        margin-bottom: 1rem;
      }
    }
    .btn {
      float: right;
      @media screen and (max-width: 576px) {
        margin-top: 1rem;
        float: none;
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        margin-top: 1rem;
      }
    }
  }
  .ticket-card.ligue {
    background-image: url('../Logo-L1.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: -12% 35%;
  }
  .ticket-card.champions {
    background-image: url('../Logo-CL.png');
    background-repeat: no-repeat;
    background-size: 42%;
    background-position: -23% 30%;
  }
  .ticket-card {
    background-color: #244e96;
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
    .logos {
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          img {
            height: 45px;
          }
        }
      }
    }
    h5 {
      text-transform: uppercase;
      font-weight: bold;
      img {
        height: 35px;
      }
      span {
        font-weight: bold;
        float: right;
      }
    }
    p, h4 {
      font-size: medium;
      text-transform: uppercase;
    }
  }
  .optin-card {
    .btn {
      float: right;
      margin-top: 1rem;
    }
  }
  .no-result {
    h5 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: medium;
    }
    p {
      font-size: medium;
    }
    background-color: #fae2bd;
    background-image: url('../result.svg');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: bottom right;
    @media screen and (max-width: 576px) {
      background-size: 40%;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      background-size: 40%;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      background-size: 26%;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      background-size: 18%;
    }
  }
}

.vuecal {box-shadow: none;}
.vuecal__weekdays-headings {
  border-left: solid 2px #f9f5f1;
  border-right: solid 2px #f9f5f1;
}
.vuecal__cell:before {
  border: 1px solid #f9f5f1;
}
.vuecal__body {
  border-left: solid 2px #f9f5f1;
  border-right: solid 2px #f9f5f1;
  border-bottom: solid 2px #f9f5f1;
}
.vuecal__time-column .vuecal__time-cell {
    color: #244e96;
    text-align: center;
    padding-right: 0;
    font-size: .9em;
    padding-top: 0px;
}
.vuecal__now-line {color: #06c;}
.vuecal__event.leisure {background-color: rgba(36, 78, 150, 0.8);border: 1px solid rgb(36, 78, 150);color: #fff;}
.vuecal__event.sport {background-color: rgba(242, 182, 78, 0.8);border: 1px solid rgb(242, 182, 78);color: #fff;}
.vuecal__cell-events-count {background-color: #244e96;}
.vuecal__menu {
  background-color: #244e96;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  button {
    text-transform: uppercase;
    font-size: large;
    font-weight: 300;
  }
}
.vuecal__menu button {border-bottom-color: #f2b64e;color: #fff;}
.vuecal__menu button.active {background-color: rgba(255, 255, 255, 0.15);}
.vuecal__title-bar {
  background-color: #f9f5f1;
  button {
    color: #f2b64e;
    font-size: large;
  }
}
.vuecal__cell.today, .vuecal__cell.current {background-color: rgba(240, 240, 255, 0.4);}
.vuecal:not(.vuecal--day-view) .vuecal__cell.selected {background-color: rgba(36, 78, 150, 0.2);}
.vuecal__cell.selected:before {border-color: rgba(36, 78, 150, 0.2);}
.vuecal__no-event {
  color: #244e96;
}
